*{
    margin: 0;
    padding: 0;
}

/* Style for main container */
.container{
    height: 80vh;
    width: 50vw;
    display: flex;
    align-items: last baseline ;
    position: relative;
    float: left;
    margin-left: 10px;
}

/* Styles for all circles/individual circles at end points */
.circles{
    height: 50px;
    width: 50px;
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
}

.circle1{
    left: 8%;
    top: 97%;
}

.circle2{
    left: 49%;
    top: 5px;
}

.circle3{
    left: 90%;
    top: 96.5%;
}

.circle4{
    left: 4%;
    top: 42%;
}

.circle5{
    left: 93%;
    top: 42%;
}


/* Style for container with the horizontol rules */
.hr_container{
    position: absolute;
    float: left;
    height: 80vh;
    width: 50vw;
    margin-left: 10px;
    z-index: -1;
}


/* Style for all hr's / horizontol hr's */
.hrs{
    color: white;
    width: 700px;
    position: relative;
    z-index: -1;
    height: 1px;
}

.hr1{
    transform: rotate(-120deg);
    top: 305px;
    left: 270px;
    width: 600px;
}

.hr2{
    width: 600px;
    transform: rotate(120deg);
    top: 304px;
    left: -69px;
}

.hr3{
    width: 690px;
    top: 74%;
    left: 34px;
    transform: rotate(25deg);
}

.hr4{
    top: 43%;
    width: 83%;
    left: 77px;
}

.hr5{
    width: 690px;
    top: 73.5%;
    left: 74px;
    transform: rotate(-25deg);
}


/* Style for main object */
.item{
    height: 50px;
    width: 50px;
    background-color: black;
    border-top: 3px solid yellow;
    border-left: 3px solid green;
    border-right: 3px solid red;
    border-bottom: 3px solid blue;
    border-radius: 30%;
    position: relative;
    animation: move 7s linear infinite;
    box-shadow: 0px 0px 50px aqua;
    z-index: 1;
}

@keyframes move {
    0%{
        top:40px;
        left:50px;
        transform: rotate(-850deg);

    }

    20%{
        top:-550px ;
        left: 50%;
    }

    40%{
        top: 40px;
        left:90%;
    }

    60%{
        top: -50%;
        left: 10px;
    }

    80%{
        top: -50%;
        left:95%;
    }

    100%{
        top:40px;
        left:50px;  
    }
}