#root {
  width: 100vw;
}

*{
  font-family: cursive;
}

.header{
  background-color: rgba(0, 0, 0, 0.8);
}

.home{
  background: url("home.jpg");
  background-size: cover;
  height: 90vh;
  width: 10vw;
}

.title-box{
  background-color: rgb(255, 255, 255,0.6);
  padding: 10vh;
  text-shadow: 0px 0px 5px royalblue;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

