.container{
    background-color: palegreen;
    height: 580px;
    width: 500px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    border: blue 20px groove;
}

.upperbody{
    height: 150px ;
    padding-top: 20px;
    padding-left: 80px;
    position: relative;
    z-index: 2;
}

.ears{
    height: 40px;
    width: 270px;
}

.ear1{
    height: 70px;
    width: 70px;
    background-color: #fac6ce;
    border: solid 2px transparent;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 5px;
    float: left;
}

.ear2{
    height: 70px;
    width: 70px;
    background-color: #fac6ce;
    border: solid 2px transparent;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 5px;
    float: right;
}

.head{
    background-color: #fac6ce;
    height: 130px;
    width: 200px;
    border-radius: 50%;
    margin-left: 40px;
    padding-top: 50px;
   
}

.eyes{
    height: 30px;
    width: 100px;
    margin-left: 60px;
}

.eye1{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    float: left;
}

.eye2{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    margin-right: 10px;
    float: right;
}

.nose{
    height: 60px;
    width: 60px;
    background-color: #c4455a;
    border: solid 2px transparent;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 75px;
}

.nostrils{
    height: 15px;
    width: 40px;
    margin-top: 25px;
    margin-left: 10px;
}

.nos{
    height: 15px;
    width: 15px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: black;
}

#nos1{
    float: left;
}

#nos2{
    float: right;
}

.lowerbody{
    height: 200px;
    width: 500px;
    padding-left:75px;
    padding-bottom: 30px;
    padding-top: 30px;
    z-index: 1;
}

.torso{
    background-color: #c3354d;
    height: 300px;
    width: 300px;
    border-radius: 50%; 
    position: fixed;
}

.tail{
    height: 0;
    width: 0;
    border-right:150px #fac6ce solid;
    border-top:150px transparent solid;
    border-bottom:0px transparent solid;
    margin-left: 285px;
    margin-top: 70px;
    
}

.feet{
    height: 100px;
    width: 560px;
    padding-left: 45px;
    padding-top: 20px;
    position: relative;
    z-index: 2;
}

.foot1{
    background-color: #fac6ce;
    height: 80px;
    width: 80px;
    border: 2px solid transparent;
    border-radius: 50%;
    margin-left: 59px;
    float: left;
}

.foot2{
    background-color: #fac6ce;
    height: 80px;
    width: 80px;
    border: 2px solid transparent;
    border-radius: 50%;
    float: left;
    margin-left:85px;
}