*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    display: block;
    margin: auto; 
    margin-top: 3vh;
    margin-bottom: -1.5vh;
    padding: 2vh;
    background-color: lightseagreen;
    color: gold;
}

.div1{
    height: 50vh;
    padding: 5vh;
    background-color: plum;
}

h1{
    text-align: center;
}

.R1{
    color: Red;
    text-align: center;
}

.result1{
    height: 7vh;
    width: 30vh;
    background-color: lightgreen;
    border: 0.2vh solid red;
    color: Red;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result2{
    height: 5vh;
    width: 30vh;
    background-color: lightblue;
    border: 0.2vh solid red;
    margin: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.div2{
    height: 50vh;
    padding: 2vh;
    padding-bottom: 4h;
    display: flex ;
    flex-direction: column;
    background-color: beige;
    border-top: 0.5vh solid black;
}

.gst-head{
    display: inline-block;
    color: red;
    text-align: center;
}

